.heading {
    box-sizing: border-box;
    color: navy;
    margin: 5px;
    padding-left: 31px;
    padding-bottom: 20px;
}

.hideBtn1 {
    margin-left: 14px;
    margin-top: 37px;
    padding-top: 7px;
    margin-left: 28px;
}
.hideBtn2 {
    margin-left: 14px;
    margin-top: 35px;
    margin-left: 142px;
}
.hideBtn3 {
    margin-left: 14px;
    margin-top: 35px;
    margin-left: 155px;
}
.myLine {
    background-color: black;
    border: medium solid;
    margin-left: 20px;
    margin-top: 40px;
    padding-top: 1px;
    width: 1050px;
}

